.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 30px 15px;
  }
}
.freeBox__dYxQc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dYxQc {
    padding: 27px 30px 34px 27px;
  }
}
.freeBox__fi9Rl {
  display: flex;
  position: relative;
  max-width: var(--token--WmI-nUZvPzK);
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: var(--token-b0VCfcvd0U9a);
}
.freeBox__fi9Rl > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__fi9Rl > :global(.__wab_flex-container) > *,
.freeBox__fi9Rl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fi9Rl > :global(.__wab_flex-container) > picture > img,
.freeBox__fi9Rl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fi9Rl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fi9Rl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fi9Rl > :global(.__wab_flex-container) > *,
  .freeBox__fi9Rl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fi9Rl > :global(.__wab_flex-container) > picture > img,
  .freeBox__fi9Rl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__upDlb {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__upDlb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__upDlb > :global(.__wab_flex-container) > *,
.freeBox__upDlb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__upDlb > :global(.__wab_flex-container) > picture > img,
.freeBox__upDlb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hctyr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hctyr > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__hctyr > :global(.__wab_flex-container) > *,
.freeBox__hctyr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hctyr > :global(.__wab_flex-container) > picture > img,
.freeBox__hctyr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3__kv4WQ {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-df5oqe7hG0hp);
  margin-top: calc(0px + 15px) !important;
}
.text___42AdF {
  color: var(--token-df5oqe7hG0hp);
}
.text__weHbt {
  color: var(--token-df5oqe7hG0hp);
}
.freeBox___2FgeV {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2FgeV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2FgeV > :global(.__wab_flex-container) > *,
.freeBox___2FgeV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2FgeV > :global(.__wab_flex-container) > picture > img,
.freeBox___2FgeV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__nJg2U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__kn5Cg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-6kdA6vHG3CM1);
  flex-shrink: 0;
}
.link__syMud {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ijRxL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-6kdA6vHG3CM1);
  flex-shrink: 0;
}
.link__fWzGs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rHthi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-6kdA6vHG3CM1);
  flex-shrink: 0;
}
.freeBox__lId5 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__lId5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lId5 > :global(.__wab_flex-container) > *,
.freeBox__lId5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lId5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lId5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3___16OZd {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-df5oqe7hG0hp);
  padding-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
}
.link__rIalc {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__rIalc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rIalc > :global(.__wab_flex-container) > *,
.link__rIalc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rIalc > :global(.__wab_flex-container) > picture > img,
.link__rIalc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pCowL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___15JR {
  color: var(--token-df5oqe7hG0hp);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__g1UCr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mrVOz {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__mrVOz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mrVOz > :global(.__wab_flex-container) > *,
.link__mrVOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mrVOz > :global(.__wab_flex-container) > picture > img,
.link__mrVOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tXlky {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__m7Lb1 {
  color: var(--token-df5oqe7hG0hp);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__ejWap {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__dfPb5 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__dfPb5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dfPb5 > :global(.__wab_flex-container) > *,
.freeBox__dfPb5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dfPb5 > :global(.__wab_flex-container) > picture > img,
.freeBox__dfPb5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__ggee7 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-df5oqe7hG0hp);
  height: auto;
  margin-top: calc(0px + 16px) !important;
}
.link___2WibM {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___2WibM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___2WibM > :global(.__wab_flex-container) > *,
.link___2WibM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2WibM > :global(.__wab_flex-container) > picture > img,
.link___2WibM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___8T7Q0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__uw60Z {
  color: var(--token-df5oqe7hG0hp);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__p5Nv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___9VkOv {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___9VkOv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___9VkOv > :global(.__wab_flex-container) > *,
.link___9VkOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___9VkOv > :global(.__wab_flex-container) > picture > img,
.link___9VkOv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pt4QT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__iWjm8 {
  color: var(--token-df5oqe7hG0hp);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__snppZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
